<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    
	<script type="text/javascript" src="/libs/jquery/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/libs/js-cookie-2.1.0/js.cookie.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323">
    <link rel="stylesheet" href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/css/navigationbar.css">	
</head>

<body>
	<ul id="header"> <!-- Header -->
			<li class="header">
				<a class="active font dashboardGeneralFontSize" href="/">Index Page</a>
			</li>
	</ul>
	
	<input id="uid" type="hidden" value="<%= user.id %>">

	<div class="container-fluid border-normal" ng-app="dashboardApp">
		<div class="row">
			<div class="col-md-4"> <!-- User Details -->
				<div class="border-gold-trimmed">
					<div class="font whiteFont level-container" ng-controller="userCtrl">
						
						<img ng-src="{{userInfo.imgSrc}}" class="img-responsive smoothImage"/>
						
						<!-- User's Name -->
						<h2 class="brownFont centerText boldText">{{userInfo.name}}</h2> 
						
						<div class="dashboardGeneralFontSize centerText"> Total Levels: {{userInfo.totalLevels}} </div>
						
						<!-- List of User's Tutorials and Relevant Information -->
						<div class="tutorial-level-bar centerText dashboardGeneralFontSize" ng-repeat="t in userInfo.tutorials">
							{{t.coursecode}}
							<br>
							Level: {{t.level}}
							<br>
							Experience: {{t.currExp}} / {{t.totalToNext}}
							<br>
							
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: {{t.percentage}}%">
								</div>
							</div>
						</div>
						
						<div class="container-fluid">
							<button class="btn btnFontSize floatLeft">Change Avatar</button> 

							<button class="btn btnFontSize floatRight">Buy Avatars</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-8"> <!-- Module Details -->
				<div class="border-gold-trimmed">
					<h2 class="font brownFont centerText boldText border-bronze-trimmed">Modules</h2>
								
					<div class="list-group" ng-controller="moduleCtrl">
						<div id="tutorials">
							<div ng-repeat="t in tuts"> <!-- List of Modules and Tutorials -->
								<div class="module-container font border-bronze-trimmed whiteFont dashboardMarginBottom dashboardGeneralFontSize">
								
									<div>
										{{t.coursecode}} {{t.coursename}}
									</div>
									
									<div class="separateModules">
										<button class="btn lobby-button" ng-click="redirect(t)" name="tut-id" value="{{t.id}}"> Join Tutorial </button>
										<button class="btn" ng-click="toggleLeaderboard(t)"> View Leaderboard </button>
									</div>
									
									<div>
										<!-- List of Tutees in Leaderboard -->
										<table class="table" ng-show="t.leaderboardIsVisible">
											<tr>
												<th></th>
												<th>Name</th>
												<th>Level</th>
											</tr>
											<tr ng-repeat="s in t.students">
												<td>{{ $index + 1 }}</td>
												<td>{{ s.name }}</td>
												<td>{{ s.level }}</td>
											</tr>
										</table>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>

<script src="libs\angular-1.6.3\angular.min.js" type="application/javascript"></script>
<script src="javascripts/dashboard/dashboard.js" type="application/javascript"></script>