<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<input id="uid" type="hidden" value="<%= user.id %>">

User is: <%= user.name %>
<br>
<h3>Modules</h3>

<form id='form' style='display: hidden' action='' method='POST'>
<ul id="tutorials"></ul>
</form>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="application/javascript">
	
    var tutorials = [];

    function syncIVLE() {
        $.ajax({
            method:'POST',
            url:'/api/dashboard/forceSyncIVLE',
            dataType:'json',
            success: function(data){
                if (data.success){
                    console.log("sync success");
                    getTutorials();
                }
                else {  
                    console.log('sync failed, err: ' + data.message);
                }

            }
        });
    }
    
    function getTutorials() {
        $.ajax({
            type: 'POST',
            url: '/api/dashboard/getTutorials',
            data: { },
            dataType: 'json',
            success: function(data) {
                showTutorials(data.data);
            }
        });
    }

    function showTutorials(tuts) {
        for (i = 0; i < tuts.count; i++) {
            var tut = tuts.rows[i];
            tutorials.push(tut);
            $('#tutorials').append("<li>" + tut.coursecode + " " + tut.coursename +" <button id='lobby-button' data-id='"+i+"' name='tut-id' value=''> Join Class </button></li>");
        }
    }

    syncIVLE(); // Uncomment this when pushing
    //getTutorials(); // Comment this out when pushing

    $(document).on('click', '#lobby-button', function () {
        var index = $(this).attr('data-id');
        var tut = tutorials[index];
        $(this).attr('value', tut.id);
        $('#form').attr('action', 'lobby/'+$('#uid').val()+'/'+tut.coursecode+'/'+tut.name);
    });

    
</script>
