<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body ng-app="Todo"> <!-- Initialise the View (2) -->
	<div class="page-container" ng-controller="TodoCtrl"> <!-- Tell the View about the Controller (5) -->
		<!-- <input type="text" ng-model="message" />
		<span> {{ "Hehe" }} </> <!-- Bind Data to the Page (6) -->
		<!-- <span> {{ message }} </> -->
		
		<h2>Todo</h2>
		<ul class="todo-list" ng-repeat="todo in todos track by $index">
			<li>
				<span>{{ todo }}</span>
				<button class="bt bt-achieve" ng-click="done(todo)">Done</button>
			</li>
		</ul>
		
		<ul class="add-todo">
			<li>
				<input type="text" class="txt" placeholder="New Todo"
					 ng-model="newTodo" ng-keyup="add($event)" />
			</li>
		</ul>
	</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<input id="uid" type="hidden" value="<%= user.id %>">

User is: <%= user.name %>
<br>
<h3>Modules</h3>

<ul id="tutorials"></ul>


</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="application/javascript">
	var app = angular.module('Todo', []); // Create the Module (1)
	app.controller('TodoCtrl', function($scope) { // Create the Controller (3) + Set up $scope (4)
		$scope.message = 'Angular is pretty cool.';
		$scope.newTodo = '';
		
		$scope.todos = [
			'Learn Sketch', 
			'Look at Dribbble and feel inferior',
			'Actually learn how to use the Pen tool'
		];
		
		$scope.done = function(todo) {
			var indexOf = $scope.todos.indexOf(todo);
			if (indexOf !== -1) {
				$scope.todos.splice(indexOf, 1);
			}
		};
		
		$scope.add = function(e) {
			if (e.which && e.which === 13) {
				$scope.todos.push($scope.newTodo);
				$scope.newTodo = '';
			}
		};
	});
	
    var tutorials = [];

    function syncIVLE() {
        $.ajax({
            method:'POST',
            url:'/api/dashboard/forceSyncIVLE',
            dataType:'json',
            success: function(data){
                if (data.success){
                    console.log("sync success");
                    getTutorials();
                }
                else {  
                    console.log('sync failed, err: ' + data.message);
                }

            }
        });
    }
    
    function getTutorials() {
        $.ajax({
            type: 'POST',
            url: '/api/dashboard/getTutorials',
            data: { },
            dataType: 'json',
            success: function(data) {
                showTutorials(data.data);
            }
        });
    }

    function showTutorials(tuts) {
        for (i = 0; i < tuts.count; i++) {
            var tut = tuts.rows[i];
            tutorials.push(tut);
            $('#tutorials').append("<li>" + tut.coursecode + " " + tut.coursename +" <button id='lobby-button' data-id='" + i + "'> Join Class </button></li>");
        }
    }

    syncIVLE();

    $(document).on('click', '#lobby-button', function () {
        var tut = tutorials[$(this).attr('data-id')];
        $.ajax({
            method: 'POST',
            url: '/api/lobby/enterLobby',
            dataType: 'json',
            data: {
                id: tut.id,
                name: tut.name,
                coursecode: tut.coursecode,
                courseid: tut.courseid
            },
            success: function (data) {
                window.location = 'http://127.0.0.1:8081/lobby/'+$('#uid').val()+'/'+tut.coursecode+'/'+tut.name;
            }
        });
    });
</script>