<!DOCTYPE html>
<html>

<head>
	<title></title>
    
	<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
</head>

<body>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<ul>
		<li></li>
	</ul>	
	
	<% if(errorMessage){ %>
		<h1>Error!</h1>
		<h2><%=errorMessage%></h2>
	<% } %>
	
	<a href="/">
		<div class="errorButton"><img src="images/errorButton.png"></div> 
	</a>
	
</body>
</html>

<script>
	 var errorMessage = "";
</script>

<style>
	body {
		background-color: #141311;
	}
	
	h1 {
		font-family: 'Lato', serif;
		font-size: 5vw;
		color: #FFFFFF;
		margin: 0;
		padding: 2%;
		text-align: center;
		margin-top: 20vh;
	}
	
	h2 {
		font-family: 'Lato', serif;
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		color: #A2482E;
	}
	
	ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #141311;
    }
	
    li {
        float: left;
    }
	
    li a {
		font-family: 'Lato', serif;
		font-size: 1.5vw;
        color: #FFFFFF;
        display: block;
        padding: 10px;
        text-align: center;
		text-decoration: none;
    }
	
    li a:hover {
        background-color: #B7B7B6;
    }
	
	.errorButton {
		text-align: center;
		margin-top: 12%;
		background-color: transparent;
		outline: none;
	}	
</style>