<!DOCTYPE html>
<html>

<head>
    <title>Attack on Tutor</title>

    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair-Display">
</head>

<body>
    <ul>
        <li><a class="active" href="/">Welcome, <%= user.name %></a></li>
		
        <% if(user){ %>
            <li style="float:right"><a class="active" id="logout" >Log Out</a></li>
        <% } %>
		
		<li style="float:right"><a class="active" href="https://github.com/nus-mtp/etutorial">GitHub Repository</a></li>
    </ul>

    <div class="logoContainter">
    </div>

    <div class="titleContainter">
        <h1>
			Attack on Tutor
		</h1>
		
		<h2>
			A Fantasy-like Tutorial Experience
		</h2>
		
		<% if(user){ %>
			<a href="/dashboard"> <div class="dashboardButton"><img src="images/dashboardButton.png"></div> </a>
		<% } else{ %>
			<img class="login-button" src="">
		<% } %>
    </div>
</body>

</html>

<script>
    var logoutConfirmation = "Would You Like to Log Out?";
	
    $("#logout").on
	(
		"click",
		function(event)
		{
            Cookies.remove('token');
            location.reload();
		}
	);
	
    $(".login-button").on
	(
		"click",
		function(event)
		{
			console.log ( "See You Soon!" );
		}
	);
</script>

<style>
    body {
        background-color: #141311;
    }
    
	ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #141311;
		border-style: ridge;;
    }
	
    li {
        float: left;
    }
	
    li a {
		font-family: 'Playfair-Display', serif;
		font-size: 1.5vw;
        color: #FFFFFF;
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }
	
    li a:hover {
        background-color: #B7B7B6;
    }
	
    h1 {
		font-family: 'Playfair-Display', serif;
        font-size: 5vw;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
		text-align: center;
        margin-top: 20vh;
    }
   
	h2 {
        font-family: 'Playfair-Display', serif;
        font-size: 4.5vh;
        color: #A2482E;
        margin:0;
        padding:0;
        text-align: center;
		margin-top: 1vh;
    }
	
	#logout {
        cursor: pointer;
    }
	
	.titleContainter {
		margin-top: 0.5%;
		border-style:ridge;
	}
	
	.dashboardButton {
		text-align: center;
		margin-top: 6.5%;
		transform: scale(0.5, 0.5);
		background-color: transparent;
		outline: none;
	}
</style>