<!DOCTYPE html>
<html>

<head>
    <title>Attack on Tutor</title>

    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/navigationbar.css">	
</head>

<body>
    <ul>
		<ul id="header">
			<li class="header">
				<a class="active" href="https://github.com/nus-mtp/etutorial">GitHub Repository</a>
			</li>
		
			<% if(user){ %>
				<li class="header">
					<a class="active" id="logout" >Log Out</a>
				</li>
			<% } %>
		</ul>
    </ul>

    <div id="titleContainer">
		<img class="logo" src="/images/logo.png"></img>
		
		<% if(user){ %>
			<h2 id="welcomeText">Welcome, <%= user.name %>!</h2>
			<a href="/dashboard">
				<div class="centralise"><button type="button" class="btn btn-danger btn-lg">Go to Dashboard!</button></div>
			</a>
		<% } else{ %>
			<h2 id="hiddenText">-</h2>
			<a href="/login"> 
				<div class="centralise"><button type="button" class="btn btn-danger btn-lg">Login Here!</button></div>	
			</a>
		<% } %>
    </div>
</body>

</html>

<script>
    var logoutConfirmation = "Would You Like to Log Out?";
	
    $("#logout").on
	(
		"click",
		function(event)
		{
            Cookies.remove('token');
            location.reload();
		}
	);
</script>