h2 {
	font-size: 2.5em;
}

.img-responsive {
	width: 100%;
}

.tutorial-level-bar {
	font-size: 1.5em;
}

.module-container {
	font-size: 1.5em;
}

.separateModules {
	margin-bottom: 2%;
}

.dashboardGeneralFontSize {
	font-size: 1.5em;
}

.dashboardMarginBottom {
	margin-bottom: 1em;
}

.dashboardMarginLeft {
	margin-left: 1em;
}