/* General Element CSS
   ------------------- */
h1 {
	font-size: 6em;
	margin-top: 10%;
}

h2 {
	font-size: 4em;
}

/* Button CSS
   ---------- */
.centralise {
	text-align: center;
	margin-top: 10%;
	background-color: transparent;
	outline: none;
}	