body {
	background-color: #141311;
}

h1 {
	font-family: 'Lato', serif;
	font-size: 5vw;
	color: #FFFFFF;
	margin: 0;
	padding: 2%;
	text-align: center;
	margin-top: 20vh;
}

h2 {
	font-family: 'Lato', serif;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	color: #A2482E;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #141311;
}

li {
	float: left;
}

li a {
	font-family: 'Lato', serif;
	font-size: 1.5vw;
	color: #FFFFFF;
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	background-color: #B7B7B6;
}

p {
	text-align: center;
	margin-top: 10%;
	background-color: transparent;
	outline: none;
}	