body {
	background-color: #141311;
}

h2 {
	font-size: 3em;
	color: #A2482E;
	text-align: center;
	margin-top: 1%;
}

#titleContainer {
	margin-top: 5%;
}

#welcomeText {
	margin-top: 8%;
}

#hiddenText {
	margin-top: 8%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* For Buttons */
.centralise {
	text-align: center;
	margin-top: 2%;
	background-color: transparent;
	outline: none;
}

.logo {
	display: block;
    margin: 0 auto;
	width:25em;
	
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; 				/* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}