body {
	background-color: #141311;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #141311;
}

li {
	float: left;
}

li a {
	font-family: 'Lato', serif;
	font-size: 1.5vw;
	color: #FFFFFF;
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	background-color: #B7B7B6;
}

h1 {
	font-family: 'Lato', serif;
	font-size: 5vw;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 20vh;
}

h2 {
	font-family: 'Lato', serif;
	font-size: 4.5vh;
	color: #A2482E;
	margin:0;
	padding:0;
	text-align: center;
	margin-top: 1vh;
}

#logout {
	cursor: pointer;
}

.titleContainer {
	margin-top: 10%;
}

#welcomeText {
	margin-top: 8%;
}

.hiddenText {
	margin-top: 8%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.dashboardButton {
	text-align: center;
	margin-top: 2%;
	background-color: transparent;
	outline: none;
}