/* General Element CSS
   ------------------- */
h2 {
	font-size: 3em;
	margin-top: 1%;
}

#titleContainer {
	margin-top: 5%;
}

#welcomeText {
	margin-top: 8%;
}

#hiddenText {
	margin-top: 8%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

indexGeneralFontSize {
	font-size: 1.7em;
}

/* Button CSS
   ---------- */
.centralise {
	text-align: center;
	margin-top: 2%;
	background-color: transparent;
	outline: none;
}

.logo {
	display: block;
    margin: 0 auto;
	width:25em;
}