body {
	background-color: #141311;
}

h1 {
	font-family: 'Lato', serif;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
}

h2 {
	font-family: 'Lato', serif;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	color: #A2482E;
}

h3 {
	font-family: 'Lato', serif;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	color: #A2482E;
}

ul#header {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #141311;
}

li {
	list-style-type: none;
}

li.header {
	float: left;
	list-style-type: none;
}

li.header a {
	font-family: 'Lato', serif;
	font-size: 1.5vw;
	color: #FFFFFF;
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

li.header a:hover {
	background-color: #B7B7B6;
}

div#question-list-container {
	border: 10px solid transparent;
	padding: 2px;
	border-image: url("/images/border-image.png") 30 repeat;
	padding: 20px;
}

div.text-center-row {
	border: 10px solid transparent;
	padding: 2px;
	border-image: url("/images/border-image.png") 30 repeat;
	height: 300px;
}

div#chat-container {
	border: 10px solid transparent;
	padding: 2px;
	border-image: url("/images/border-image.png") 30 repeat;
	padding: 20px;
}

div#userlist-container {
	border: 10px solid transparent;
	padding: 2px;
	border-image: url("/images/border-image.png") 30 repeat;
	height: 286px;
}