/* General CSS
   ----------- */
body {
	background-color: #141311;
}

.font {
	font-family: 'VT323', monospace;
}

/* Header CSS
   ---------- */
ul#header {
	overflow: hidden;
	background-color: #141311;
}

li.header {
	float: right;
	list-style-type: none;
}

li a {
	font-size: 1.5em;
	color: #FFFFFF;
	display: block;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	background-color: #B7B7B6;
}

#logout {
	cursor: pointer;
}

.headerGeneralFontSize {
	font-size: 1.7em;
}

/* General Element CSS
   -------------------- */
.whiteFont {
	color: #FFFFFF;
}

.brownFont {
	color: #A2482E;
}

.boldText {
	font-weight: bold;
}

.centerText {
	text-align: center;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.indexGeneralFontSize {
	font-size: 1.7em;	
}

/* Image CSS
   --------- */
.smoothImage {
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;					/* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* Border CSS
   ---------- */
.border-normal {
	border: 15px solid transparent;
	border-image: url("/images/border.png") 16 repeat;
	background-color:rgba(0, 0, 0, 0.4);
}

.border-bronze-trimmed {
	border: 10px solid transparent;
	border-image: url("/images/border2.png") 16 repeat;
	background-color:rgba(0, 0, 0, 0.4);
}

.border-gold-trimmed {
	border: 10px solid transparent;
	border-image: url("/images/border_plain.png") 16 repeat;
}

/* Button CSS
   ---------- */
.btn {
	background-color: #A2482E;
	border-radius:0;
	color: #FFFFFF;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
	background-color: #893C25;
	color: #FFFFFF;
}

.btnFontSize {
	font-size: 1.5em;
}