ul#header {
	overflow: hidden;
	background-color: #141311;
}

li.header {
	float: right;
	list-style-type: none;
}

li a {
	font-size: 1.5em;
	color: #FFFFFF;
	display: block;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	background-color: #B7B7B6;
}

#logout {
	cursor: pointer;
}

.font {
	font-family: 'VT323', monospace;
}